#calendar {
  width: 100%;
  height: 800px;
  max-height: 90vh;
}
.sx-react-calendar-wrapper {
  max-width: 100vw;
  height: 800px;
  max-height: 75vh;
}

.sx__month-grid-day {
  @apply hover:cursor-pointer hover:bg-gray-100;
}
.sx__event .sx__month-grid-event .sx__month-grid-cell {
  @apply bg-blue-600;
}

.sx__month-grid-event-time {
  @apply font-normal;
}

.sx__month-grid-event-title {
}

.sx__time-grid-event-title {
  @apply text-sm font-medium tracking-wider mb-1;
}

.sx__time-grid-event-time {
  @apply text-xs mb-1;
}

.sx__time-grid-event-location {
  @apply text-xs;
}
.sx__month-grid-event-time {
  @apply font-medium;
}

.sx__date-picker-popup {
  @apply max-h-none;
}

.sx__event {
  border-left: 4px solid #1c7df9 !important;
  background-color: #d2e7ff !important;
  color: #00008b !important;
}
