div._1nBOt > div:nth-child(3),
div._1nBOt > div:nth-child(5) {
  display: none !important;
}

div._34SS0 > div:nth-child(2),
div._34SS0 > div:nth-child(3) {
  display: none !important;
}

div._1nBOt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  height: 78px !important;
  min-height: unset !important;
  position: relative; /* ใช้ช่วยจัดให้อยู่ตรงกลาง */
}

/* GanttDrawer.css */
.gantt-container .task-list-item[data-id="dummy"] {
  display: none !important;
}
