._1nBOt > div:nth-child(3),
._1nBOt > div:nth-child(5) {
  display: none !important;
}

._34SS0 > div:nth-child(2),
._34SS0 > div:nth-child(3) {
  display: none !important;
}

._WuQ0f {
  /* max-height: 50px !important; */
  height: 50px;
}
