/* กำหนด scrollbar ของ react-big-calendar */
.custom-scrollbar .rbc-time-content {
  width: 8px;
  border-radius: 8px;
  background: rgb(165, 180, 252);
}

/* กำหนด scrollbar สำหรับ Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(165, 180, 252) rgb(243, 244, 246);
}

/* กำหนด scrollbar สำหรับ Chrome, Edge, และ Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(243, 244, 246);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(165, 180, 252);
  border-radius: 8px;
}
